/* Color changes:
#AE3838 -> #AE3838
#66bdff -> #d74747
#338acc -> #7e1d1d
*/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #AE3838;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #AE3838;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #d74747;
}

#ads {
    margin-right: 7%;
}

.bannerAd {
    height: 50px;
    margin: 16px;
    margin-left: 85px;
    float: right;
}

.characterForm {
    border: 2px solid #7e1d1d;
    border-radius: 2px;
    height: 30px;
    width: 28%;
    margin: 10px;
    margin-top: 30px;
    padding-top:10px;
    background-color: #AE3838;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.characterForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    color: white;
}

#characterName {
    margin-right: 50px;
}

.makeCharacterSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 120px;
    background-color: #AE3838;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.makeCharacterSubmit:link, .makeCharacterSubmit:visited, .makeCharacterSubmit:hover, .makeCharacterSubmit:active {
    color: white;
}

.makeCharacterSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #7e1d1d;
}

.characterForm ul {
    border: 2px solid #7e1d1d;
}

#characterOptions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 10px;
}

#characterSkinColor {
    grid-area: 1 / 1 / 5 / 2;
}

#characterFace {
    grid-area: 1 / 2 / 2 / 3;
    margin: 0px;
    margin-top: 15px;
}

#characterHair {
    grid-area: 2 / 2 / 3 / 3;
    margin: 0px;
}

#characterTop {
    grid-area: 3 / 2 / 4 / 3;
    margin: 0px;
}

#characterBottoms {
    grid-area: 4 / 2 / 5 / 3;
    margin: 0px;
    margin-bottom: 15px;
}

.characterForm li img {
    height: 40px;
    width: 40px;
}

.characterForm ul {
    list-style-type: none;
}

.characterForm li {
    width: 50px;
    margin: 5px;
}

.characterForm .selected {
    background-color: #c7c7c7;
    transition: background-color 0.4s ease;
}

.characterForm li:hover {
    transition: background-color 0.4s ease;
    background-color: #ededed;
}

.characterForm .selected:hover {
    transition: background-color 0.4s ease;
    background-color: #adadad;
}

.mainForm {
    width: 500px;
    margin: 50px auto;
    font-size: 1.2em;
    padding: 1%;
    border: 2px solid #AE3838;
    border-radius: 4px;
    background-color: #d8d8d8;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 150px;
    margin-right: 10px;
    padding-top: 5%;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 200px;
    background-color: #AE3838;
    border-radius: 2px;
    border-color: #7e1d1d;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #7e1d1d;
}

#user, #pass, #pass2, #oldpass {
    text-align: center;
    font-size: 1.1em;
    width: 250px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus, #oldpass:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #AE3838;
}

.hidden {
    display: none;
}

#gideonMessage {
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#gideonMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#gideon {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#characters {
    width: 60%;
    min-width: 400px;
    max-height: 558px;
    border: 2px solid #AE3838;
    border-radius: 4px;
    margin: 0 auto;
    margin-right: 100px;
    float: right;
    overflow-y: auto;
}

.characterList {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(auto-fill, 1fr);
}

.character {
    width: 200px;
    margin: 10 auto;
    border: 2px solid #AE3838;
    border-radius: 4px;
    background-color: #AE3838;
    padding: 10px;
    min-height:60px;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    position: relative;
}

.character:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #D74747;
}

img.characterFace {
    grid-column: 1;
    grid-row: 2;
    width: 200px;
    height: 400px;
    z-index: 1;
}

img.characterSkinColor {
    grid-column: 1;
    grid-row: 2;
    width: 200px;
    height: 400px;
    z-index: 0;
}

img.characterHair {
    grid-column: 1;
    grid-row: 2;
    width: 200px;
    height: 400px;
    z-index: 2;
}

img.characterTop {
    grid-column: 1;
    grid-row: 2;
    width: 200px;
    height: 400px;
    z-index: 4;
}

img.characterBottoms {
    grid-column: 1;
    grid-row: 2;
    width: 200px;
    height: 400px;
    z-index: 3;
}

h3.emptyCharacter {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.characterName {
    float:left;
    width: 200px;
    font-weight: bold;
    padding: 5px;
    font-size: 1.5em;
}

.character:first-child {
    margin-top: 10px;
}

.character:last-child {
    margin-bottom:10px;
}